*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	
}

body{
	background-color: #CAF0C6;
}



div.container{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 500px;
	height: 300px;
	transform: translate(-50% , -50%);
	background-color: #eee;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 10px;
}

h1.titulo{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 30px;
	background-color:  #eee;

}

ul{
	display: inline-block;
	background-color:  #eee;

}

li{
	border: 2px solid #ccc;

	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	list-style-type: none;
}

a{
	color: black;
	text-decoration: none;
	
}

div.containerEntrar{
	
	position: absolute;
	margin-top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 1000px;
	height: 500px;
	
	background-color: #eee;
	
	border: 2px solid #ccc;
	border-radius: 10px;
}

h2.entrar{

	color: black;
	margin: 20px;
}

label,input{
	text-align: left;
	margin: 5px 5px 5px 30px;
	
}

h5.textAlert{
	margin: 5px 5px 5px 30px;
}


.flex-tabela{
	margin: 30px;
	margin-bottom: 10px;
	display: flex;
	width: 900px;
	border-bottom: 2px solid #ccc;
}

.flex-tabela div{
	flex: 1;
	border-right: 2px solid #ccc;
	text-align: center;
}

.flex-tabela div:nth-last-child(1){
	border-right: none;
}

.tabela-var{
	margin-left: 30px;
	
	display: flex;
	width: 900px;
}

.tabela-var div{
	padding-left: 5px;
	margin-bottom: 5px;
	border-top: 0;
	flex: 1;
	text-align: left;
}

